<form #f="ngForm">
  <div class="mb-3">
    <label for="name" class="form-label col-sm-2">Name</label>
    <div class="col-sm-6">
      <input
        required
        class="form-control"
        [(ngModel)]="persona.nombre"
        type="text"
        name="name"
        id="name"
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="lastname" class="form-label col-sm-2">lastname</label>
    <div class="col-sm-6">
      <input
        required
        class="form-control"
        [(ngModel)]="persona.apellido"
        type="text"
        name="lastname"
        id="lastname"
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="fecha" class="form-label col-sm-2">Birthday</label>
    <div class="col-sm-6">
      <input
        required
        class="form-control"
        [(ngModel)]="persona.fechaNacimiento"
        type="date"
        name="fecha"
        id="fecha"
      />
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-6">
      <button
        class="btn btn-primary"
        (click)="create()"
        [disabled]="!f.valid"
        *ngIf="!persona.id; else elseBlock"
      >
        Crear
      </button>
      <ng-template #elseBlock>
        <button class="btn btn-primary" (click)="update()">
          Actualizar
        </button>
      </ng-template>
      <button
        type="button"
        class="btn btn-outline-success"
        [routerLink]="['/personas']"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
