<button
  type="button"
  class="btn btn-info my-4"
  [routerLink]="['/personas/form']"
>
  Create
</button>

<div
  class="alert alert-primary"
  role="alert"
  *ngIf="personas?.length == 0; else tabla"
>
  We don't found any record
</div>

<ng-template #tabla>
  <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Birthday</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">
        <td>{{persona.id}}</td>
        <td>{{persona.nombre}}</td>
        <td>{{persona.apellido}}</td>
        <td>{{persona.fechaNacimiento}}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="delete(persona)"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-warning mx-2"
            [routerLink]="['/personas/form', persona.id]"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
