<button
  type="button"
  class="btn btn-info my-4"
  [routerLink]="['/puestos/form']"
>
  Create
</button>

<div
  class="alert alert-primary"
  role="alert"
  *ngIf="puestos?.length == 0; else tabla"
>
  We don't found any record
</div>

<ng-template #tabla>
  <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let puesto of puestos">
        <td>{{puesto.id}}</td>
        <td>{{puesto.nombre}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete(puesto)">
            Delete
          </button>
          <button
            type="button"
            class="btn btn-warning mx-2"
            [routerLink]="['/puestos/form', puesto.id]"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
