<form #f="ngForm">
  <div class="mb-3">
    <label class="col-form-label col-sm-2">Persona</label>
    <div class="col-sm-6">
      <select
        required
        class="form-control"
        [(ngModel)]="ep.persona"
        name="persona"
        [compareWith]="compararPersona"
      >
        <option [ngValue]="undefined">Seleccione una Persona</option>
        <option [ngValue]="persona" *ngFor="let persona of personas">
          {{persona.nombre }}
        </option>
      </select>
    </div>
  </div>

  <div class="mb-3">
    <label class="col-form-label col-sm-2">Puesto</label>
    <div class="col-sm-6">
      <select
        required
        class="form-control"
        [(ngModel)]="ep.puesto"
        name="puesto"
        [compareWith]="compararPuesto"
      >
        <option [ngValue]="undefined">Seleccione un Puesto</option>
        <option [ngValue]="puesto" *ngFor="let puesto of puestos">
          {{puesto.nombre}}
        </option>
      </select>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-6">
      <button
        class="btn btn-primary"
        (click)="create()"
        [disabled]="!f.valid"
        *ngIf="!ep.id; else elseBlock"
      >
        Crear
      </button>
      <ng-template #elseBlock>
        <button class="btn btn-primary" (click)="update()">
          Actualizar
        </button>
      </ng-template>
      <button
        type="button"
        class="btn btn-outline-success"
        [routerLink]="['/ep']"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
