<button type="button" class="btn btn-info my-4" [routerLink]="['/ep/form']">
  Create
</button>

<div
  class="alert alert-primary"
  role="alert"
  *ngIf="ep?.length == 0; else tabla"
>
  We don't found any record
</div>

<ng-template #tabla>
  <table datatable [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Persona</th>
        <th>Puesto</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emP of ep">
        <td>{{emP.id}}</td>
        <td>{{emP.persona | json}}</td>
        <td>{{emP.puesto | json}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete(emP)">
            Delete
          </button>
          <button
            type="button"
            class="btn btn-warning mx-2"
            [routerLink]="['/ep/form', emP.id]"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
